ul.errorlist {
    display: none;
}
div.p-3.border a{
    text-decoration: none;
    color: rgb(216, 112, 147);
    
}
div.p-3.border a:hover h3{
    color: rgb(203, 40, 94);
}
p{
    text-align: justify;
    margin: auto;
}
.form-control .form-control-sm{
    margin: auto;
    width: 100px;
}
p label{
    display: flex;
    width: 30%;
    margin: auto;
    text-align: left;
}
input#id_title {
    width: 30%;
    margin: auto;
}
textarea#id_text {
    width: 30%;
    margin: auto;
}
.notes-display {
    color: rgb(216, 112, 147);
    border: 2px solid black;
}
.notes-display p{
    color: black
}
.login p{
    width: 50%;
    /* align-items: center; */
    text-align: center;
    margin: auto;
    padding: 15px;
}
.register label{
    margin: 5px;
    padding: 5px;
}
